    <!--====== FOOTER PART START ======-->

<footer class="footer-area">
    <div class="container-fluid">
        <div class="row">
            <!-- Footer Item 1 (Logo + Social Icons) -->
            <div class="col-lg-4 col-md-5 d-flex flex-column align-items-center">
                <div class="footer-item mt-30">
                    <div class="footer-title">
                        <img src="<?=$setting['template']?>/assets-frontend/images/Media/CORE 2.png" alt="CORE Logo" style="max-width: 200px;">
                    </div>
                    <div class="footer-list-area">
                        <div class="footer-list">
                            <ul class="social-icons">
                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-tiktok"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                <!-- <li><a href="#"><i class="fab fa-youtube"></i></a></li> -->

                                <li>
                                <a href="#">
                                    <img src="<?=$setting['template']?>/assets-frontend/images/Media/zalo.png" alt="Zalo" style="height: 40px; vertical-align: middle; filter: brightness(0) invert(1);">
                                </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


                <!-- Footer Item 2 (Quick Links) -->
            <div class="col-lg-4 col-md-5 d-flex flex-column align-items-center">
                <div class="footer-item mt-30">
                    <!-- Tiêu đề chung -->

                    <div class="footer-title">
                        <h4 class="title">LIÊN KẾT NHANH</h4>
                    </div>
                    <!-- Khu vực chứa 2 cột liên kết -->
                    <div class="footer-list-area" style="display: flex; gap: 50px;">
                        <!-- Cột 1 -->
                        <div class="footer-list">
                            <ul class="link-column">
                                <li><a href="#">> Dự án</a></li>
                                <li><a href="#">> Tài liệu số</a></li>
                                <li><a href="#">> Đặt lịch tư vấn</a></li>
                                <li><a href="#">> Đào tạo ngắn hạn</a></li>
                                <li><a href="#">> Chính sách & Điều khoản</a></li>
                            </ul>
                        </div>

                        <!-- Cột 2 -->
                        <div class="footer-list">
                            <ul class="link-column">
                                <li><a href="#">> Trang chủ</a></li>
                                <li><a href="#">> Giới thiệu</a></li>
                                <li><a href="#">> Dịch vụ doanh nghiệp</a></li>
                                <li><a href="#">> Tổ chức sự kiện</a></li>
                                <li><a href="#">> Tin tức</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer Item 3 (Contact Information) -->
            <div class="col-lg-4 col-md-5 d-flex flex-column align-items-center">
                <div class="footer-item mt-30">
                    <div class="footer-title">
                        <h4 class="title">LIÊN HỆ</h4>
                    </div>
                    <div class="footer-list">
                        <ul class="link-column-2">
                            <li><i class="fas fa-phone-alt"></i> Số điện thoại:0934827742</li>
                            <li><i class="fas fa-envelope"></i> Email: core@dhv.edu.vn</li>
                            <li><i class="fas fa-map-marker-alt"></i> Địa chỉ: 736 Nguyễn Trãi, Phường 11, Quận 5, TP. HCM</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

    <!--====== FOOTER PART ENDS ======-->

    <!--====== BACK TO TOP ======-->
    <div class="back-to-top">
        <a href="#">
            <i class="fal fa-chevron-double-up"></i>
        </a>
    </div>
    <!--====== BACK TO TOP ======-->
    
    <!--====== jquery js ======-->
    <script src="<?=$setting['template']?>/assets-frontend/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="<?=$setting['template']?>/assets-frontend/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="<?=$setting['template']?>/assets-frontend/js/bootstrap.min.js"></script>
    <script src="<?=$setting['template']?>/assets-frontend/js/popper.min.js"></script>
    

    <!--====== Slick js ======-->
    <script src="<?=$setting['template']?>/assets-frontend/js/slick.min.js"></script>

    <!--====== Isotope js ======-->
    <script src="<?=$setting['template']?>/assets-frontend/js/isotope.pkgd.min.js"></script>

    <!--====== Images Loaded js ======-->
    <script src="<?=$setting['template']?>/assets-frontend/js/imagesloaded.pkgd.min.js"></script>

    <!--====== owl carousel js ======-->
    <script src="<?=$setting['template']?>/assets-frontend/js/owl.carousel.min.js"></script>

    <!--====== nice select js ======-->
    <script src="<?=$setting['template']?>/assets-frontend/js/jquery.nice-select.min.js"></script>

    <!--====== wow js ======-->
    <script src="<?=$setting['template']?>/assets-frontend/js/wow.min.js"></script>

    <!--====== counterup js ======-->
    <script src="<?=$setting['template']?>/assets-frontend/js/jquery.counterup.min.js"></script>

    <!--====== waypoints js ======-->
    <script src="<?=$setting['template']?>/assets-frontend/js/waypoints.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="<?=$setting['template']?>/assets-frontend/js/jquery.magnific-popup.min.js"></script>


    <!--====== Ajax Contact js ======-->
    <script src="<?=$setting['template']?>/assets-frontend/js/ajax-contact.js"></script>
    <script src="<?=$setting['template']?>/assets/js/sweetalert2.all.min.js"></script>
    <script src="<?=$setting['template']?>/assets/js/pjax.min.js"></script>
    <script src="<?=$setting['template']?>/assets/js/topbar.min.js"></script>

    <!--====== Main js ======-->
    <script src="<?=$setting['template']?>/assets-frontend/js/main.js"></script>
    

    <script src="<?=$setting['template']?>/assets/js/sweetalert2.all.min.js"></script>

    <!--====== Recaptcha js ======-->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="<?=$setting['template']?>/assets/js/main.js"></script>

    <!-- <script src="<?=$setting['template']?>/assets/js/main.js"></script> -->



</body>


<!-- Mirrored from themeforest.kreativdev.com/edus/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 21 May 2025 05:01:53 GMT -->
</html>